<div class="container">
  <!-- <h2>User</h2> -->
  <br>
  <div class="panel panel-default">
    <div class="panel-heading"><h2>User</h2></div>
    <div class="panel-body">
      <!-- Left-aligned media object -->
      <div class="media">
        <div class="media-left">
          <img src="{{user.img}}" class="media-object" style="width:60px">
        </div>
        <div class="media-body">
          <div><span style="font: bold 12px Arial;width:30%;max-width:500px;float:left; text-align:left;">Felhasználónév:</span><span style="font: bold 12px Arial;width:70%;max-width:500px;float:right; text-align:left;">{{user.name}}</span></div>
          <div><span style="font: bold 12px Arial;width:30%;max-width:500px;float:left;text-align:left;">Email:</span><span style="font: bold 12px Arial;width:70%;max-width:500px;float:right; text-align:left;">{{user.email}}</span></div>
          <div><span style="font: bold 12px Arial;width:30%;max-width:500px;float:left;text-align:left;">Osztaly:</span><span style="font: bold 12px Arial;width:70%;max-width:500px;float:right; text-align:left;">{{user.division}}</span></div>
          <div><span style="font: bold 12px Arial;width:30%;max-width:500px;float:left;text-align:left;">Jellemzés:</span><span style="font: bold 12px Arial;width:70%;max-width:500px;float:right; text-align:left;">{{user.description}}</span></div>
        </div>
      </div>
      <hr>

    </div>
  </div>
